---
import Logo from '../../../_elements/logo/logo.astro';
---

<header id="header">
  <a href="/" title="home">
    <Logo />
  </a>
  <nav class="header-nav" data-class-toggle="active">
    <ul class="header-nav__list">
      <li>
        <a href="#story" class="link">Our Story</a>
      </li>
      <li>
        <a href="#services" class="link">Services</a>
      </li>
      <li>
        <a href="#testimonials" class="link">Testimonials</a>
      </li>
      <li>
        <a href="#cta" class="link">Find talent</a>
      </li>
    </ul>
  </nav>
  <button class="button" name="getOrder">Get it done</button>
</header>