<section id="services">
  <header class="services-header">
    <h2>Fields we’re covering</h2>
    <svg>
      <use xlink:href="/sprites/sprite-main.svg#iconArrowSpring"></use>
    </svg>
    <div class="services-buttons">
      <button 
      type="button" 
      name="sliderPrev" 
      title="prev slider"
      class="slider-button">
        <span class="arrow left"></span>
      </button>
      <button 
      type="button" 
      name="sliderNext" 
      title="next slider"
      class="slider-button">
        <span class="arrow right"></span>
      </button>
    </div>
  </header>
  <div class="services-slider">
    <a href="#" class="services-slider__item">
      <svg>
        <use xlink:href="/sprites/sprite-main.svg#iconEngineering"></use>
      </svg>
      <b>Engineering</b>
    </a>
    <a href="#" class="services-slider__item active">
      <svg>
        <use xlink:href="/sprites/sprite-main.svg#iconDesign"></use>
      </svg>
      <b>UX Design</b>
    </a>
    <a href="#" class="services-slider__item">
      <svg>
        <use xlink:href="/sprites/sprite-main.svg#iconHR"></use>
      </svg>
      <b>HR Services</b>
    </a>
    <a href="#" class="services-slider__item">
      <svg>
        <use xlink:href="/sprites/sprite-main.svg#iconMarketing"></use>
      </svg>
      <b>Marketing</b>
    </a>
  </div>
</section>
