<section id="cta">
  <div class="cta-container">
    <p>Finding the right candidate <strong class="text-accent">can be hectic</strong>, Let us handle this for you</p>
    <button type="button" name="getOrder">Find Talent</button>
  </div>
</section>