<section id="hero">
  <h1>Looking for the
    <strong class="text-accent">Right
    talent</strong>
    for your team?</h1>
  <div>
    <p>Discover top talent for your team with our developer matchmaking services. We identify the perfect fit to take the
      stress out of hiring. Build a winning team today.</p>
    <button type="button" class="button" name="getOrder">Build your Team</button>
  </div>
</section>